
 
   header {
      width: 100%;
      height: 28vh;
      color: var(--white-color);
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('/src/asset/bg-mobile-light.jpg');
      display: flex;
      justify-content: space-between;
      padding: 12% 8%;
   }

      header.dark {
         background-image: url('/src/asset/bg-mobile-dark.jpg');
      }

      header h1{
         font-size: 30px;
         letter-spacing: 12px;
         text-transform: uppercase;
      }

      #iconSwitch {
         height: fit-content;
      }

   main {
      position: absolute;
      width: 100%;
      height: 72vh;
      background: var(--lightGrayishDay-color);
   }

   main.dark {
      background-color: var(--veryDarkGrayBlueNight-color);
   }

      .activity-wrap{
         position: absolute;
         width: 100%;
         min-height: 100%;
         z-index: 6;
         top: -15%;
      }

      .activity-head, .activity-main, .activity-footer, .btn-sort{
         width: 84%;
         margin: auto;
         border-radius: 4px;
         background-color: var(--veryLightGray-color);
         color: var(--veryDarkGrayishBlueDay-color);
      }

      .activity-head { 
         padding: 4% 7%;
         display: flex;
      }

         main.dark .activity-head, main.dark .activity-main, main.dark .activity-footer, main.dark .btn-sort {
            background-color: hsl(235, 24%, 19%);
            color: var(--lightGrayBlueNight);
         }

         .activity-head input {
            margin-left: 1%;
            height: 100%;
            width: 100%;
            display: flex;
            border: 0;
            outline: none;
            font-size: .7em;
            background-color: transparent;
         }

         .activity-head input::placeholder {
            color: var(--darkGrayishBlueNight-color);
         }


      .activity-main {
         margin-top: 7%;
      }

         .card-activity {
            display: flex;
            justify-content: space-between;
            padding: 5% 8%;
            top: 55%;
            border-bottom: 1px solid var(--lightGrayishDay-color);
            color: var(--veryDarkGray-color);
         }

         
         .card-activity.dark{
            border-bottom: 1px solid var(--veryDarkGrayishBlueNight-color);
            color: var(--darkGrayBlueNight-color);
         }

         .card-activity.done {
            color: var(--darkGrayDay-color)
         }

         .card-activity.dark.done {
            color: var(--veryDarkGrayishBlueNight2-color)
         }

         .card-body {
            width: 100%;
            display: flex;
            position: relative;
            font-size: .7em;
         }

            .checkbox-circle, .checkbox-disable {
               position: relative;
               display: inline-block;
               width: 76%;
               margin: 0 15px;
            }

            .checkbox-disable {
               width: 3%;
            }
            
            .checkbox-circle input[type="checkbox"], .checkbox-disable input[type="checkbox"] {
               position: absolute;
               opacity: 0;
               cursor: pointer;
               height: 0;
               width: 0;
            }
            
            .checkbox-circle .checkmark, .checkbox-disable .checkmark  {
               position: absolute;
               top: 50%;
               transform: translate(-50%, -50%);
               height: 22px;
               width: 22px;
               border: 1px solid var(--lightGrayishDay-color);
               background-color: transparent;
               border-radius: 50%;
            }

            .card-activity.dark .checkbox-circle .checkmark, main.dark .activity-head .checkbox-disable .checkmark  {
               border: 1px solid var(--veryDarkGrayishBlueNight-color);
            }
            
            .checkbox-circle input[type="checkbox"]:checked + .checkmark {
               border: 0;
               background-color: #2196f3;
            }
            
            .checkbox-circle .checkmark:after {
               content: "";
               position: absolute;
               display: none;
            }
            
            .checkbox-circle input[type="checkbox"]:checked + .checkmark:after {
               display: block;
            }
            
            .checkbox-circle .checkmark:after {
               top: 6px;
               left: 6px;
               width: 10px;
               height: 10px;
               border-radius: 50%;
               background-image: url(../asset/icon-check.svg);
            }
         

            .card-title {
               height: 100%;
               display: flex;
               align-items: center;
               margin-left: 13%;
            }

            .delete-btn {
               height: 100%;
               display: flex;
               align-items: center;
               text-align: center;
               display: none;
            }

            li:hover .delete-btn {
               display: block; 
           }


            #deleteIcon svg {
               color: var(--darkGray-color);
            }

      .activity-footer {
         padding: 3% 6%;
         display: flex;
         justify-content: space-between;
         font-size: .65em;
         color: var(--darkGrayishBlueNight-color)
      }

         main.dark .activity-footer, main.dark .activity-footer .btn-sort  {
            color: var(--veryDarkGrayishBlueNight2-color);
         }

         .activity-footer span {
            cursor: pointer;
         }

        .activity-footer span:hover{
            color: var(--veryDarkGrayishBlueDay-color);
         }

         main.dark .activity-footer span:hover{
            color: var(--lightGrayishBlueHover-color);
         }

         .btn-sort {
            position: absolute;
            left: 8%;
            height: 7%;
            margin-top: 10%;
            padding: 3% 6%;
            font-size: 1.2em;
            color: var(--darkGrayishBlueNight-color)
         }

         .span-sort {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -45%);
         }

            .span-sort span {
               margin: 0 5%;   
            }

            .span-sort span.active {
               color: var(--blueHover-color);
           }

      span.note {
         position: absolute;
         margin-top:85%;
         left: 50%;
         transform: translate(-50%);
         font-size: .6em;
         color: var(--darkGrayishBlueNight-color);
      }
   
@media only screen and (min-width: 920px) {

   header {
      padding: 7% 25% 10% 25%;
      background-image: url('/src/asset/bg-desktop-light.jpg');
   }

      header.dark {
         background-image: url('/src/asset/bg-desktop-dark.jpg');
      }

 main {
      height: 70vh;
   }


   .activity-head, .activity-main, .activity-footer{
      width: 50%;
   }

   .activity-head {
      padding: 1.5% 3.5%;
   }

   .activity-main {
      margin-top: 2%;
   }

      .card-activity {
         padding: 3% 7%;
         cursor: pointer;
      }

      .checkbox-disable {
         width: 6%;
      }

      .delete-btn {
         display: block;
      }

   .activity-footer {
         padding: 1.5% 4%;
   }

      .btn-sort {
         position: relative;
         margin-top: 0;
         width: 25%;
         left: 0;
         padding: 0;
         font-size: 1.1em;
      }

      .span-sort {
         position: relative;
         top: 0;
         left: 0;
         transform: translate(0);
      }

      .span-sort span {
         margin: 0;
         padding: 0 6%;
      }

   span.note {
      font-size: .7em;
      margin-top:30%;
   }
}


   